.Join{
    text-align: center;
    font-family: NanumBarunGothic; 
    margin-left:20px;
    margin-right: 10px;
}

.Title{
    text-align: center;
    font-family: NanumBarunGothic;
    margin-left:20px;
}