.btn.btn-dark{
    background-color: #503396; 
    margin-left:20px;
    margin-right: 10px;
    width:160px;
    border-color:#ffffff;
    color:white;
 }

 .JoinFinal{
    font-family: NanumBarunGothic; 
    text-align: center;
 }

 .img {
     margin-top: 20px;
     height: 190px;
     margin-bottom: 30px;
 }

 