*{
    background-color: black;
}

.logo{
    position: absolute;
    top : 100px;
    width: 150px;
}

a{
    color: white;
}

.Menu1 li{
    position: relative;
    top : 140px;
    left : 200px;
    display: inline-block;
    list-style: none;
    text-align: center;
    width: 8%;
    font-size: 18pt;
    color: white; 
    /* border: 1px solid gray; */

}

.Menu2 li{
    position: relative;
    top : 100px;
    right: 50px;
    width: 8%;
    display: inline-block;
    list-style: none;
    text-align: center;
    float: right;
    /* width: 8%; */
    font-size: 18pt;
    color: white; 
    /* border: 1px solid gray; */

}

.video{
    position: relative;
    top : 10px;
    clip-path: inset(13% 0 23% 0);
}

/* .videoTag{
    width: 100%;
    height: 100%;
} */

.Footer{
    position: absolute;
    top: 950px;
}
