

.table.table-bordered{
    font-family: NanumBarunGothic;
    width:60%;
    margin-top: 1%;
    margin-left: 10%;
}


.head{
    width: 20px;
    height: 10px;
    font-size: 10pt;
}

.body{
    height: 10px;
    font-size: 10pt;
}

.page-link{
    border:none;
    color:black;
}

.page-link:hover{
    color:#503396;
}



.btn.btn-dark{
    background-color: #503396;
    border-color: #ffffff;
    color: white;
    margin-top: 8%;;
    margin-left:56.4%;
}

.btnsearch{
    border:none;
}

.icon{
    background:"#00ff0000";
    border:none;
    width:37px;
    
}

.icon:hover{
    image:
}


.search{
    border:none;
    background-color: white;
}